.gallery-container
{
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #ff7d1a;

    img
    {
        display: block;
        width: 100%;
    }

    .left-control-container,
    .right-control-container
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        z-index: 2;
        height: 100%;
    }

    .left-control-container
    {
        top: 0;
        left: 0;
        padding-left: 1em;
    }

    .right-control-container
    {
        top: 0;
        right: 0;
        padding-right: 1em;
    }

    .control
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: #FFF;
        border-radius: 100px;
        box-sizing: border-box;
        user-select: none;
        cursor: pointer;

        i
        {
            font-size: 24px;
            line-height: 0;
        }
    }

    .control:hover
    {
        color: #ff7d1a;
    }

    .image-slider
    {
        width: 100%;
        overflow: hidden;

        .slider-element
        {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
        }
        
        .slider-element.first
        {
            transform: translate(-100%, 0);
        }

        .slider-element.second
        {
            transform: translate(0, 0);
        }

        .slider-element.third
        {
            transform: translate(100%, 0);
        }

        .slider-element.first.animated-left
        {
            transform: translate(-200%, 0);
            transition: transform 0.5s;
        }

        .slider-element.second.animated-left
        {
            transform: translate(-100%, 0);
            transition: transform 0.5s;
        }

        .slider-element.third.animated-left
        {
            transform: translate(0, 0);
            transition: transform 0.5s;
        }

        .slider-element.first.animated-right
        {
            transform: translate(0, 0);
            transition: transform 0.5s;
        }

        .slider-element.second.animated-right
        {
            transform: translate(100%, 0);
            transition: transform 0.5s;
        }

        .slider-element.third.animated-right
        {
            transform: translate(200%, 0);
            transition: transform 0.5s;
        }
    }

    .image-slider:after
    {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
}