.gallery-container
{
    display: flex;
    flex-direction: column;
    gap: 2em;
    position: relative;
    width: 100%;
    overflow: hidden;

    img
    {
        display: block;
        width: 100%;
    }

    .left-control-container,
    .right-control-container
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        z-index: 2;
        height: 100%;
    }

    .left-control-container
    {
        top: 0;
        left: 0;
        padding-left: 1em;
    }

    .right-control-container
    {
        top: 0;
        right: 0;
        padding-right: 1em;
    }

    .control
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: #FFF;
        border-radius: 100px;
        box-sizing: border-box;
        user-select: none;
        cursor: pointer;

        i
        {
            font-size: 24px;
            line-height: 0;
        }
    }

    .control:hover
    {
        color: #ff7d1a;
    }

    .image-slider
    {
        position: relative;
        width: 100%;
        overflow: hidden;

        .card-container
        {
            display: flex;
            flex-direction: row;
            position: absolute;
            width: 400%;
            top: 0;
            left: 0;

            .slider-element
            {
                display: block;
            }
        }

        .card-container.pos0
        {
            left: 0;
            transition: left 0.5s;
        }

        .card-container.pos1
        {
            left: -100%;
            transition: left 0.5s;
        }

        .card-container.pos2
        {
            left: -200%;
            transition: left 0.5s;
        }

        .card-container.pos3
        {
            left: -300%;
            transition: left 0.5s;
        }
    }

    .image-slider:after
    {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    .thumbnails-container
    {
        display: none;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 1024px)
{
    .gallery-container
    {
        .image-slider
        {
            border-radius: 16px;

            .border
            {
                width: 100%;
                height: 100%;
            }
        }

        .thumbnails-container
        {
            display: flex;

            .thumbnail
            {
                display: block;
                flex: 0 0 88px;
                height: 88px;
                border-radius: 12px;
                overflow: hidden;
                cursor: pointer;
                opacity: 1;
                transition: opacity 0.25s;

                img
                {
                    display: block;
                    width: 100%;
                }
            }

            .thumbnail:hover
            {
                opacity: 0.5;
                transition: opacity 0.25s;
            }

            .thumbnail.active
            {
                position: relative;

                .white-screen
                {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 88px;
                    height: 88px;
                    background-color: rgba(255, 255, 255, 0.6);
                    border-radius: 12px;
                    border: 2px solid #ff7d1a;
                    box-sizing: border-box;
                }
            }

            .thumbnail.active:hover
            {
                opacity: 1;
            }
        }
    }
}